html {

    /* Sorry box sixing does not work well for me
    it ruins my navbar
	box-sizing: border-box; */
}

/* 
*, *:before, *:after {
	box-sizing: inherit;
}
*/

body {
	background-color: LightGray;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}

a:link {
	text-decoration: none;
}

nav.top-navigation,
section.main-section,
.cases,
footer {
	width: 100%;
	background-color: #fff;
}

nav.top-navigation > div.navbar,
section.main-section > div.main-div,
.cases > div.content-div,
footer > div.footer-div {
	width: 60%;
	margin: 0 auto;
}

nav.top-navigation div.navbar ul.links li > a,
div.main-div div.button > button.big-button {
	transition: color 2s ease;
	-webkit-transition: color 2s ease;
	-moz-transition: color 2s ease;
	-o-transition: color 2s ease;
}

nav.top-navigation div.navbar ul.links li > a,
.main-h1,
section.main-section div.main-div > h3,
.cases div.content-div > h2,
.cases div.content-div ul li > h3,
footer div.footer-div > h5 {
	font-family: 'Roboto', sans-serif;
}

nav.top-navigation div.navbar ul.links li,
.cases div.content-div ul li,
footer div.footer-div ul.icons li {
	display: inline-block;
	/* margin-right: 1.6em; */
}

section.main-section > div.main-div,
.cases > div.content-div,
footer > div.footer-div {
	text-align: center;
	font-size: 1.2em;
}

section.main-section div.main-div > h1,
section.main-section div.main-div > h3,
.cases div.content-div > h2 {
	font-weight: 300;
	margin: 0;
	padding: 0;
}

/* Navigation Section */
nav.top-navigation {
	position: fixed;
	z-index: 9999;
	border-bottom: 1px solid #dddddd;
}

nav.top-navigation > div.navbar {
	height: 3.1em;
	padding: .6em 0;
}

nav.top-navigation div.navbar > ul.links {
	float: right;
}

nav.top-navigation div.navbar ul.links li {
    margin-right: 1.6em;
}

nav.top-navigation div.navbar ul.links li > a {
	font-size: 1em;
	color: #838994;
	letter-spacing: 0.03em;
}

nav.top-navigation div.navbar ul.links li > a.active {
	font-weight: 500;
	color: #4c5058;
}

nav.top-navigation div.navbar ul.links li > a:hover {
	color: #000;
}

.karma-logo {
	padding-left: .6em;
	padding-top: .2em;
	width: 1.6em;
}

/* Main Section */
section.main-section {
	background-image: url('//smilofactor.github.io/startup_landing_page_clone/media/karma_mainbackground.jpg'); 
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	height: 46rem;
}

section.main-section > div.main-div {
	color: #fff;
	padding-top: 13.2em;
}

section.main-section div.main-div > h1 {
	font-size: 2.6em;
	margin-top: .4em;
}

section.main-section div.main-div > h3 {
	font-size: 1.3em;
	margin-top: .4em;
}

div.main-div div.button > button.big-button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 15px 30px;
	line-height: 1.33;
	background-color: #f15a29;
	margin-top: 1em;
    color: #fff;
    font-size: 1em;
}

div.main-div div.button > button.big-button:hover {
	background-color: #d9400e;
	box-shadow: 1px 1px 0 #f9b49f;
}

/* Content Section */
.cases {
	padding-bottom: 5em;
}

.cases > div.content-div {
	padding-top: 6em;
}

.cases div.content-div > ul {
	padding-top: 2em;
}

.cases div.content-div > h2 {
	font-size: 2.3em;
}

.cases div.content-div ul li {
    width: 32%;
}

.cases div.content-div ul li > h3 {
	font-size: 1.2em;
	font-weight: 400;
    margin: 2.5rem 0 1.875rem 0;
}

/* Footer Section */
footer {
	padding-bottom: 8.6em;
}

footer div.footer-div {
	border-top: 1px solid #eaebec;
	padding: 1.3em 0;
}

footer div.footer-div ul.icons li {
	margin-right: .5em;
}

footer div.footer-div ul.icons li > i {
	width: 2em;
	height: 2em;
	line-height: 2;
	border: 1px solid #eaebec;
	border-radius: 20px;
}

.footer-h5 {
	margin: 0;
	padding: 0;
}

footer div.footer-div > h5 {
	font-weight: 400;
}

footer div.footer-div span.footer-span > h5 {
	color: #838994;
	font-weight: 300;
}


/* Responsive section */
@media (max-width: 75em) {

    nav.top-navigation > div.navbar,
    section.main-section > div.main-div,
    .cases > div.content-div,
    footer > div.footer-div {
	    width: 80%;
    }

    .cases div.content-div ul li > img {
    }

    /* Main Section */
    section.main-section {
	    background-image: url('//smilofactor.github.io/startup_landing_page_clone/media/karma_mainbackground.jpg');
	    background-position: center bottom;
	    background-size: cover;
	    background-repeat: no-repeat;
	    /* background-attachment: fixed; */
        width: 100%;
    }


}

@media (max-width: 50em) {

    body {
        font-size: 80%;
    }

    .top-navigation .navbar .links > li {
        font-size: 1.2em;
    }

    .cases div.content-div ul li{
	    display: inherit;
	    margin: 1em auto 0;
    }

    nav.top-navigation > div.navbar,
    section.main-section > div.main-div,
    .cases > div.content-div,
    footer > div.footer-div {
	    /* width: 90%;*/
    }

    .cases div.content-div ul li > img {
        max-width: 70%;
        height: auto;
    }

    /* Main Section */
    section.main-section {
	    background-image: url('//smilofactor.github.io/startup_landing_page_clone/media/karma_mainbackground.jpg');
	    background-position: center bottom;
	    background-size: cover;
	    background-repeat: no-repeat;
        height: 40em;
        width: 100%;
    }


}

