html {

    /* Sorry box sixing does not work well for me */
	/* box-sizing: border-box; */
}

/*
*, *:before, *:after {
	box-sizing: inherit;
}
*/

body {
	background-color: LightGray;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

div {
	border: 1px solid Chocolate;
}

a:link {
	text-decoration: none;
	/* font-weight: bold; */
}

ul li {
	display: inline-block;
	margin-right: 1.6em;
}

nav.top-navigation,
section.content-section {
	background-color: #fff;
}

div.main-div,
div.content-div {
	text-align: center;
	font-size: 1.2em;
}

/* Navigation Section */
nav.top-navigation {
	position: fixed;
	width: 100%;
}

nav.top-navigation > div.navbar {
	height: 3.1em;
	width: 60%;
	margin: 0 auto;
	padding: .6em 0;f
}

div.navbar ul.links {
  float: right;
}

div.navbar ul.links li {
}

div.navbar ul.links li > a,
div.main-div > h1,
div.main-div > h3 {
	letter-spacing: 0.03em;
}

div.navbar ul.links li > a {
	font-size: 1em;
	color: #838994;
	transition: color .5s ease;
	-webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;
}

div.navbar ul.links li > a.active {
	/* font-weight: bold; */
	font-weight: 500;
	color: #4c5058;
}

div.navbar ul.links li > a:hover {
	color: #000;
}

img.logo {
	padding-left: .6em;
	padding-top: .2em;
	width: 1.6em;
}

section.main-section {
	background-image: url('media/karma_mainbackground.jpg');
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	height: 46rem;
}

div.main-div {
	color: #fff;
	padding-top: 13.2em;
}

div.main-div > button.big-button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	background-color: #f15a29;
}

div.main-div > button.big-button:hover {
	background-color: #d9400e;
}

section.content-section {
	height: 52em;
}

div.content-div {
	padding-top: 5em;
}