html {

    /* Sorry box sixing does not work well for me */
	/* box-sizing: border-box; */
}

/*
*, *:before, *:after {
	box-sizing: inherit;
}
*/

body {
	background-color: LightGray;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

div {
	border: 1px solid Chocolate;
}

a:link {
	text-decoration: none;
	/* font-weight: bold; */
}

/* Navigation Section */
.top-navigation {
	background-color: #fff;
}

.top-navigation > div.navbar {
	height: 3.1em;
	width: 60%;
	margin: 0 auto;
	padding: .6em 0;
}

div.navbar ul.links {
  float: right;
}

div.navbar ul.links li {
	display: inline-block;
	margin-right: 1.6em;
}

div.navbar ul.links li > a,
div.main-section > h1,
div.main-section > h3 {
	letter-spacing: 0.03em;
}

div.navbar ul.links li > a {
	font-size: 1em;
	color: #838994;
	transition: color .5s ease;
	-webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;
}

div.navbar ul.links li > a.active {
	/* font-weight: bold; */
	font-weight: 500;
	color: #4c5058;
}

div.navbar ul.links li > a:hover {
	color: #000;
}

img.logo {
	padding-left: .6em;
	padding-top: .2em;
	width: 1.6em;
}

section.main {
	background-image: url('media/karma_mainbackground.jpg');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 41.6rem;
}

div.main-section {
	text-align: center;
	color: #fff;
	padding-top: 9.5em;
	font-size: 1.2em;
}

